<div>
  <strong class="welcome">Seja muito bem vindo à GymPoint!</strong>
  <p>Olá {{ student_name }}, você adquiriu o nosso plano {{ plan_title }}.</p>
</div>
<div class="plan_card">
  <img src="http://localhost:3000/assets/{{plan_title}}_member.png" alt="Gold Member">
  <p>Plano: <span>{{ plan_title }}</span></p>
  <p>Validade: <span>{{ end_date }}</span></p>
  <p>Valor total: <span>{{ price }}</span></p>
</div>
<div>
  <p>Parabéns pelo excelente investimento na sua saúde e qualidade de vida.</p>
  <p>Qualquer dúvida estaremos aqui para te ajudar.</p>
</div>